@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --bg-link-selected: #3770ed;
  --cl-white: white;
}

.selected {
  color: var(--bg-link-selected);
  font-weight: bold;
}
